ExchangeTime/ExchangeTime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ExchangeTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="Location">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded" name="Interval">
								<xs:complexType>
									<xs:attribute name="Start" type="xs:time" use="required" />
									<xs:attribute name="End" type="xs:time" use="required" />
									<xs:attribute name="Shift" type="xs:integer" default="0" />
									<xs:attribute name="Label" type="xs:string" default="" />
									<xs:attribute name="BarHeight" default="L">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="S" />
												<xs:enumeration value="M" />
												<xs:enumeration value="L" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Notification">
								<xs:complexType>
									<xs:attribute name="Time" type="xs:time" use="required" />
									<xs:attribute name="Text" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday">
								<xs:complexType>
									<xs:attribute name="Date" type="xs:date" use="required" />
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="EarlyClose" type="xs:time" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" type="xs:string"  use="required" />
						<xs:attribute name="TimeZone" type="xs:string" use="required" />
						<xs:attribute name="Color" type="xs:string" default="blue" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>